.form-control, .table.table-tight td {
    height: 2.25rem;
}

.py-6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

form > .flex.items-center {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #FFF;
    left: 220px;
    right: 0;
    -webkit-box-shadow: 2px 2px 4px 4px rgba(0,0,0,.05);
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,.05);
    z-index: 999;
}

@media only screen and (max-width: 768px) {
    form > .flex.items-center {
        left: 0;
    }
}

.bg-logo {
    background-color: #FFF;
}

.bg-grad-sidebar {
    background: url("/images/bg-banner-1.jpg") no-repeat;
    background-size: cover;
}

.leading-tight {
    margin-left: 10px!important;
}
